@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    background-color: #1b191a;
    --font-button: 'BenchNine', sans-serif;
}

.container {
    max-width: 1170px;
}