.header {
    background-image: url(../img/header-background.webp);
    background-position: center;
    background-size: cover;
}

.header__hide {
    display: none;
}

.header__inner {
    padding: 30px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo-img {
    width: 177px;
}

.header__burger {
    position: absolute;
    right: 50px;
    width: 24px;
    height: 16px;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__burger-line {
    background-color: white;
    width: 24px;
    height: 2px;
}

.header__content {
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.header__divider {
    padding: 31px 27px;
    background-image: url(../img/header-photo.webp);
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;    
}

.header__divider-text {
    display: block;
}

.header__section {
    margin-top: 50px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__section-link {
    color: white;
    text-decoration-line: none;
    font-family: var(--font-button);
    font-size: 18px;
    text-align: center;
    margin: 10px;
    padding: 14px 20px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.header__section-link:hover {
    background-color: white;
    color: black;
}

.header__section-link-cont {
    color: white;
    text-decoration-line: none;
    font-family: var(--font-button);
    font-size: 18px;
    text-align: center;
    margin: 10px;
    padding: 14px 20px;
    border-color: #c5a35c;
    background-color: #c5a35c;
}

.header__section-link-cont:hover {
    border-color: #3f3229;
    background-color: #3f3229;
}