<header class="header">
    <div class="header__content-head-head">
    <div class="header__content-head container">
        <div class="header__inner-hide">
            <div class="header__hide">
                <div class="hide__inner">
                    <a href="#" class="hide__logo">
                        <img src="img/logo.png" alt="Logo cigar" class="hide__logo-img">
                    </a>
                </div>
                <!-- <div class="hide__section">
                    <div class="hide__sub-section"></div>
                </div> -->
                <div class="hide__section">
                    <div class="hide__sub-section">
                        <nav class="hide__nav">
                            <ul class="hide__list">
                                <li class="hide__item"><a href="#" class="hide__link">O nás</a></li>
                                <li class="hide__item"><a href="#" class="hide__link">Názory</a></li>
                                <li class="hide__item"><a href="#" class="hide__link">Kontakt</a></li>
                                <li class="hide__item"><a href="#" class="hide__link"><img src="css/bi_facebook.svg" alt="facebook logo"></a></li>
                                <li class="hide__item"><a href="#" class="hide__link"><img src="css/mdi_linkedin.svg" alt="linkedin logo"></a></li>
                            </ul>
                        </nav>
                        <!-- <div class="hide__quote">
                            <a href="#" class="hide__quote-link"><span class="hide__quote-text">REQUEST A QUOTE</span></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="header__inner">
            <div class="header__logo">
                <a href="#" class="header__logo-link">
                    <img src="img/logo-cigar.webp" alt="Logo cigar" class="header__logo-img">
                </a>
            </div>
            <button class="header__burger">
                <div class="header__burger-line"></div>
                <div class="header__burger-line"></div>
                <div class="header__burger-line"></div>
            </button>
        </div>
    </div>
    </div>
    <div class="header__content container">
        <div class="header__divider">
            <p class="header__divider-text"></p><br>
            <p class="header__divider-text"></p><br>
            <p class="header__divider-text"></p><br>
            <p class="header__divider-text"></p><br>
            <p class="header__divider-text">nowe rynki zbytu - nowe możliwości</p>
            <p class="header__divider-bigtext">ProgressTRW</p><br>
        </div>
        <div class="header__section">
            <a href="#" class="header__section-link">
                <span class="header__section-border"></span>
                <span class="header__section-text">ABOUT&nbsp;US</span>
            </a>
            <a href="#" class="header__section-link-cont">
                <span class="header__section-border"></span>
                <span class="header__section-text">CONTACT&nbsp;US</span>
            </a>
        </div>
    </div>
</header>
